# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
.turbo/
.expo/
web-build/

# env
.env
.env.local
.env*.local

# misc
.DS_Store
*.log
npm-debug.log*
coverage/

# native
*.keystore
ios/Pods/
